@model hostal.Models.Contact
@{
    ViewData["Title"] = "Contacto";
}
<!--Inicio Banner-->
<div class="hero-wrap hero-wrap-2" style="background-image: url('images/banner1.jpg'); background-attachment:fixed; height: 400px;">
      <div class="overlay" style="height: 400px;" ></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true" style="height: 400px;">
           <div class="col-md-8 ftco-animate text-center">          
             <h1 class="mb-3 bread">Editar Contacto</h1>
            </div>
          </div>
       </div>
</div>    
<!--Fin Banner-->
<br>
<br>
<br>
 <div class="container formulario">
     <div class="col-md-4">
    <form asp-controller="Contact" asp-action="Edit">
        <input type="hidden" asp-for="Id" />

        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control form-control-sm rounded-pill" type="text" placeholder="Escribe un nombre" aria-label=".form-control-sm" />

        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control rounded-pill" />

        <label asp-for="Phone" class="control-label"></label>
        <input asp-for="Phone" class="form-control rounded-pill" />

        <label asp-for="Comment" class="control-label"></label>
        <input asp-for="Comment" class="form-control rounded-pill" />
<br>
        <div class="form-group">
            <button type="submit" class="button">Actualizar</button> 
        </div>              
    </form>
    <h1>@ViewData["Message"]</h1>
    
    <div>
        <a asp-action="Index"><i class="fas fa-arrow-circle-left"></i>Regresar</a>
    </div>
</div>
</div>