<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - hotel_de_turistas_Camaná</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Formularios.css" />
   

</head>

<body>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
<!--------------------------------------FOOTER------------------------------------>
     
<footer class="border-top footer text-muted">
    <div class="container text-center">
         &copy; 2022 - Hostel de turitas de Camaná
     </div>
</footer>
</body>
</html>
