@model hostal.Models.Paquetes

@{
    ViewData["Title"] = "Detalles";
}
<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
<style>
    a {
        color: #ffffff;
        text-decoration: none;
    }

    a:hover {
        color: #ffffff;
        text-decoration: none;
        cursor: pointer;
    }

    

    .font20 {
        font-size: 20px;
        font-weight: 300;
    }

    .justificado {
        text-align: justify;
        text- justify: auto;
    }

    .checked {
        color: orange;
    }
    .rating-css input{
        display: none;
    }
    .rating-css input:checked + label ~ label{
        color: #838383;
    }
</style>
<section id="catalogue" class="catalogue section-bg">
<div class="container">
<div class="section-title">
<h2 data-aos="fade-in">Detalles</h2>
    </div>

    <div class="card" style="border: none;">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4">
                    <img class="card-img-top" style="height: 500px; width: 100%; "
                        src="@Html.DisplayFor(model => model.Imagen)"
                        alt="@Html.DisplayFor(model => model.Imagen)" />
                </div>
            </div>
            <div class="col-md-7">
                <br>
                <h5 class="card-title">@Html.DisplayFor(model => model.Nombre)</h5>
                <hr>
                <ul class="list-unstyled"></ul>
                  
                  <h5 class="card-title">@Html.DisplayFor(model => model.Precio)</h5>
                  <div class="rating-css">
                    <div class="star-icon">
                        <input type="radio" name="rate" id="rate-5">
                        <label for="rate-5" class="fas fa-star"></label>
                        <input type="radio" name="rate" id="rate-4">
                        <label for="rate-4" class="fas fa-star"></label>
                        <input type="radio" name="rate" id="rate-3">
                        <label for="rate-3" class="fas fa-star"></label>
                        <input type="radio" name="rate" id="rate-2">
                        <label for="rate-2" class="fas fa-star"></label>
                        <input type="radio" name="rate" id="rate-1">
                        <label for="rate-1" class="fas fa-star"></label>
                    </div>
                  </div>
                  <div>
                  <a class="btn btn-primary button" asp-action="Index"></i>Regresar</a>
                  
                  </div>
                </div>
              </div>
            </div>
    </div>