@model hostal.Models.Servicios

@{
    ViewData["Title"] = "Detalles";
}

<h1>Details</h1>
    <div class="container">
            <div class="col-sm-4">
              <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-body">
                  <div class="card-img-actions">
                    <img class="img-responsive" width="250" height="150"
                       src="/images/@Html.DisplayFor(model => model.Imagen)" alt="@Html.DisplayFor(model => model.Imagen)"  />
                  </div>
                </div>
                <div class="card-body">
                  <h5 class="card-title">@Html.DisplayFor(model => model.Nombre)</h5>
                  <p class="card-text">@Html.DisplayFor(model => model.Descripcion)</p>
                  <h5 class="card-title">@Html.DisplayFor(model => model.Precio)</h5>
                  <a class="btn btn-success" asp-action="Add" asp-route-id="Id">Agregar</a>
                </div>
              </div>
            </div>
    </div>