@model hostal.Models.ProformaServi

@{
    ViewData["Title"] = "Edit";
}
<!--Inicio Banner-->
<div class="hero-wrap hero-wrap-2" style="background-image: url('images/banner1.jpg'); background-attachment:fixed; height: 200px;">
      <div class="overlay" style="height: 200px;" ></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true" style="height: 200px;">
           <div class="col-md-8 ftco-animate text-center">          
             <h1 class="mb-3 bread">Editar Servicio Seleccionado</h1>
            </div>
          </div>
       </div>
</div>    
<!--Fin Banner-->
<br>
<br>
<br>

<h4>Pendiente en Carrito</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="ProformaServi" asp-action="Edits">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary button" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><i class="fas fa-arrow-circle-left"></i>Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}